:root{
    --fonte-color-home: #282828;
    --fonte-color-pokemon-texto: #171414;
    --pokemon-color-pesquisa-borda: lightblue;
    --pokemon-color-pesquisa-shadow: rgba(225, 228, 232, 0.5);
    --botao-color: #FFF;
    --botao-backgroud: #48D0B0;
    --cabecalho-link-color: #212121;

}

body{
    font-family: 'Inter', sans-serif;
}